/* BACKGROUND COLORS */
.bg-transparent {
  background-color: transparent;
}

.bg-currentColor {
  background-color: currentColor;
}

.bg-primaryLight {
  background-color: #958cf2;
}

.bg-secondaryLight {
  background-color: #f2b58c;
}

.bg-oliveLight {
  background-color: #dded92;
}

.bg-dangerLight {
  background-color: #f28c96;
}

.bg-goldenLight {
  background-color: #f2e18c;
}

.bg-indigoLight {
  background-color: #b78cf2;
}

.bg-perssianLight {
  background-color: #8cc8f2;
}

.bg-cyanLight {
  background-color: #8cf2ea;
}

.bg-primary {
  background-color: #2a19e6;
}

.bg-secondary {
  background-color: #e66f19;
}

.bg-olive {
  background-color: #c3e619;
}

.bg-danger {
  background-color: #e6192a;
}

.bg-golden {
  background-color: #e6c419;
}

.bg-indigo {
  background-color: #6f19e6;
}

.bg-perssian {
  background-color: #1991e6;
}

.bg-cyan {
  background-color: #19e6d4;
}

.bg-primaryDark {
  background-color: #150d73;
}

.bg-secondaryDark {
  background-color: #a54d0d;
}

.bg-oliveDark {
  background-color: #5e6d12;
}

.bg-dangerDark {
  background-color: #730d15;
}

.bg-goldenDark {
  background-color: #a58c0d;
}

.bg-indigoDark {
  background-color: #370d73;
}

.bg-perssianDark {
  background-color: #0d4873;
}

.bg-cyanDark {
  background-color: #0d736a;
}

.bg-white {
  background-color: #f5f5f5;
}

.bg-grayLight {
  background-color: #bfbfbf;
}

.bg-grayMedium {
  background-color: #808080;
}

.bg-grayDark {
  background-color: #404040;
}

.bg-black {
  background-color: #1a1a1a;
}

/* TEXT COLORS */
.text-transparent {
  color: transparent;
}

.text-currentColor {
  color: currentColor;
}

.text-primaryLight {
  color: #958cf2;
}

.text-secondaryLight {
  color: #f2b58c;
}

.text-oliveLight {
  color: #dded92;
}

.text-dangerLight {
  color: #f28c96;
}

.text-goldenLight {
  color: #f2e18c;
}

.text-indigoLight {
  color: #b78cf2;
}

.text-perssianLight {
  color: #8cc8f2;
}

.text-cyanLight {
  color: #8cf2ea;
}

.text-primary {
  color: #2a19e6;
}

.text-secondary {
  color: #e66f19;
}

.text-olive {
  color: #c3e619;
}

.text-danger {
  color: #e6192a;
}

.text-golden {
  color: #e6c419;
}

.text-indigo {
  color: #6f19e6;
}

.text-perssian {
  color: #1991e6;
}

.text-cyan {
  color: #19e6d4;
}

.text-primaryDark {
  color: #150d73;
}

.text-secondaryDark {
  color: #a54d0d;
}

.text-oliveDark {
  color: #5e6d12;
}

.text-dangerDark {
  color: #730d15;
}

.text-goldenDark {
  color: #a58c0d;
}

.text-indigoDark {
  color: #370d73;
}

.text-perssianDark {
  color: #0d4873;
}

.text-cyanDark {
  color: #0d736a;
}

.text-white {
  color: #f5f5f5;
}

.text-grayLight {
  color: #bfbfbf;
}

.text-grayMedium {
  color: #808080;
}

.text-grayDark {
  color: #404040;
}

.text-black {
  color: #1a1a1a;
}

@media screen and (min-width: 480px) {
  /* BACKGROUND COLORS */
  .bg-transparent {
    background-color: transparent;
  }

  .bg-currentColor {
    background-color: currentColor;
  }

  .bg-primaryLight {
    background-color: #958cf2;
  }

  .bg-secondaryLight {
    background-color: #f2b58c;
  }

  .bg-oliveLight {
    background-color: #dded92;
  }

  .bg-dangerLight {
    background-color: #f28c96;
  }

  .bg-goldenLight {
    background-color: #f2e18c;
  }

  .bg-indigoLight {
    background-color: #b78cf2;
  }

  .bg-perssianLight {
    background-color: #8cc8f2;
  }

  .bg-cyanLight {
    background-color: #8cf2ea;
  }

  .bg-primary {
    background-color: #2a19e6;
  }

  .bg-secondary {
    background-color: #e66f19;
  }

  .bg-olive {
    background-color: #c3e619;
  }

  .bg-danger {
    background-color: #e6192a;
  }

  .bg-golden {
    background-color: #e6c419;
  }

  .bg-indigo {
    background-color: #6f19e6;
  }

  .bg-perssian {
    background-color: #1991e6;
  }

  .bg-cyan {
    background-color: #19e6d4;
  }

  .bg-primaryDark {
    background-color: #150d73;
  }

  .bg-secondaryDark {
    background-color: #a54d0d;
  }

  .bg-oliveDark {
    background-color: #5e6d12;
  }

  .bg-dangerDark {
    background-color: #730d15;
  }

  .bg-goldenDark {
    background-color: #a58c0d;
  }

  .bg-indigoDark {
    background-color: #370d73;
  }

  .bg-perssianDark {
    background-color: #0d4873;
  }

  .bg-cyanDark {
    background-color: #0d736a;
  }

  .bg-white {
    background-color: #f5f5f5;
  }

  .bg-grayLight {
    background-color: #bfbfbf;
  }

  .bg-grayMedium {
    background-color: #808080;
  }

  .bg-grayDark {
    background-color: #404040;
  }

  .bg-black {
    background-color: #1a1a1a;
  }

  /* TEXT COLORS */
  .text-transparent {
    color: transparent;
  }

  .text-currentColor {
    color: currentColor;
  }

  .text-primaryLight {
    color: #958cf2;
  }

  .text-secondaryLight {
    color: #f2b58c;
  }

  .text-oliveLight {
    color: #dded92;
  }

  .text-dangerLight {
    color: #f28c96;
  }

  .text-goldenLight {
    color: #f2e18c;
  }

  .text-indigoLight {
    color: #b78cf2;
  }

  .text-perssianLight {
    color: #8cc8f2;
  }

  .text-cyanLight {
    color: #8cf2ea;
  }

  .text-primary {
    color: #2a19e6;
  }

  .text-secondary {
    color: #e66f19;
  }

  .text-olive {
    color: #c3e619;
  }

  .text-danger {
    color: #e6192a;
  }

  .text-golden {
    color: #e6c419;
  }

  .text-indigo {
    color: #6f19e6;
  }

  .text-perssian {
    color: #1991e6;
  }

  .text-cyan {
    color: #19e6d4;
  }

  .text-primaryDark {
    color: #150d73;
  }

  .text-secondaryDark {
    color: #a54d0d;
  }

  .text-oliveDark {
    color: #5e6d12;
  }

  .text-dangerDark {
    color: #730d15;
  }

  .text-goldenDark {
    color: #a58c0d;
  }

  .text-indigoDark {
    color: #370d73;
  }

  .text-perssianDark {
    color: #0d4873;
  }

  .text-cyanDark {
    color: #0d736a;
  }

  .text-white {
    color: #f5f5f5;
  }

  .text-grayLight {
    color: #bfbfbf;
  }

  .text-grayMedium {
    color: #808080;
  }

  .text-grayDark {
    color: #404040;
  }

  .text-black {
    color: #1a1a1a;
  }
}
@media screen and (min-width: 640px) {
  /* BACKGROUND COLORS */
  .bg-transparent {
    background-color: transparent;
  }

  .bg-currentColor {
    background-color: currentColor;
  }

  .bg-primaryLight {
    background-color: #958cf2;
  }

  .bg-secondaryLight {
    background-color: #f2b58c;
  }

  .bg-oliveLight {
    background-color: #dded92;
  }

  .bg-dangerLight {
    background-color: #f28c96;
  }

  .bg-goldenLight {
    background-color: #f2e18c;
  }

  .bg-indigoLight {
    background-color: #b78cf2;
  }

  .bg-perssianLight {
    background-color: #8cc8f2;
  }

  .bg-cyanLight {
    background-color: #8cf2ea;
  }

  .bg-primary {
    background-color: #2a19e6;
  }

  .bg-secondary {
    background-color: #e66f19;
  }

  .bg-olive {
    background-color: #c3e619;
  }

  .bg-danger {
    background-color: #e6192a;
  }

  .bg-golden {
    background-color: #e6c419;
  }

  .bg-indigo {
    background-color: #6f19e6;
  }

  .bg-perssian {
    background-color: #1991e6;
  }

  .bg-cyan {
    background-color: #19e6d4;
  }

  .bg-primaryDark {
    background-color: #150d73;
  }

  .bg-secondaryDark {
    background-color: #a54d0d;
  }

  .bg-oliveDark {
    background-color: #5e6d12;
  }

  .bg-dangerDark {
    background-color: #730d15;
  }

  .bg-goldenDark {
    background-color: #a58c0d;
  }

  .bg-indigoDark {
    background-color: #370d73;
  }

  .bg-perssianDark {
    background-color: #0d4873;
  }

  .bg-cyanDark {
    background-color: #0d736a;
  }

  .bg-white {
    background-color: #f5f5f5;
  }

  .bg-grayLight {
    background-color: #bfbfbf;
  }

  .bg-grayMedium {
    background-color: #808080;
  }

  .bg-grayDark {
    background-color: #404040;
  }

  .bg-black {
    background-color: #1a1a1a;
  }

  /* TEXT COLORS */
  .text-transparent {
    color: transparent;
  }

  .text-currentColor {
    color: currentColor;
  }

  .text-primaryLight {
    color: #958cf2;
  }

  .text-secondaryLight {
    color: #f2b58c;
  }

  .text-oliveLight {
    color: #dded92;
  }

  .text-dangerLight {
    color: #f28c96;
  }

  .text-goldenLight {
    color: #f2e18c;
  }

  .text-indigoLight {
    color: #b78cf2;
  }

  .text-perssianLight {
    color: #8cc8f2;
  }

  .text-cyanLight {
    color: #8cf2ea;
  }

  .text-primary {
    color: #2a19e6;
  }

  .text-secondary {
    color: #e66f19;
  }

  .text-olive {
    color: #c3e619;
  }

  .text-danger {
    color: #e6192a;
  }

  .text-golden {
    color: #e6c419;
  }

  .text-indigo {
    color: #6f19e6;
  }

  .text-perssian {
    color: #1991e6;
  }

  .text-cyan {
    color: #19e6d4;
  }

  .text-primaryDark {
    color: #150d73;
  }

  .text-secondaryDark {
    color: #a54d0d;
  }

  .text-oliveDark {
    color: #5e6d12;
  }

  .text-dangerDark {
    color: #730d15;
  }

  .text-goldenDark {
    color: #a58c0d;
  }

  .text-indigoDark {
    color: #370d73;
  }

  .text-perssianDark {
    color: #0d4873;
  }

  .text-cyanDark {
    color: #0d736a;
  }

  .text-white {
    color: #f5f5f5;
  }

  .text-grayLight {
    color: #bfbfbf;
  }

  .text-grayMedium {
    color: #808080;
  }

  .text-grayDark {
    color: #404040;
  }

  .text-black {
    color: #1a1a1a;
  }
}
@media screen and (min-width: 768px) {
  /* BACKGROUND COLORS */
  .bg-transparent {
    background-color: transparent;
  }

  .bg-currentColor {
    background-color: currentColor;
  }

  .bg-primaryLight {
    background-color: #958cf2;
  }

  .bg-secondaryLight {
    background-color: #f2b58c;
  }

  .bg-oliveLight {
    background-color: #dded92;
  }

  .bg-dangerLight {
    background-color: #f28c96;
  }

  .bg-goldenLight {
    background-color: #f2e18c;
  }

  .bg-indigoLight {
    background-color: #b78cf2;
  }

  .bg-perssianLight {
    background-color: #8cc8f2;
  }

  .bg-cyanLight {
    background-color: #8cf2ea;
  }

  .bg-primary {
    background-color: #2a19e6;
  }

  .bg-secondary {
    background-color: #e66f19;
  }

  .bg-olive {
    background-color: #c3e619;
  }

  .bg-danger {
    background-color: #e6192a;
  }

  .bg-golden {
    background-color: #e6c419;
  }

  .bg-indigo {
    background-color: #6f19e6;
  }

  .bg-perssian {
    background-color: #1991e6;
  }

  .bg-cyan {
    background-color: #19e6d4;
  }

  .bg-primaryDark {
    background-color: #150d73;
  }

  .bg-secondaryDark {
    background-color: #a54d0d;
  }

  .bg-oliveDark {
    background-color: #5e6d12;
  }

  .bg-dangerDark {
    background-color: #730d15;
  }

  .bg-goldenDark {
    background-color: #a58c0d;
  }

  .bg-indigoDark {
    background-color: #370d73;
  }

  .bg-perssianDark {
    background-color: #0d4873;
  }

  .bg-cyanDark {
    background-color: #0d736a;
  }

  .bg-white {
    background-color: #f5f5f5;
  }

  .bg-grayLight {
    background-color: #bfbfbf;
  }

  .bg-grayMedium {
    background-color: #808080;
  }

  .bg-grayDark {
    background-color: #404040;
  }

  .bg-black {
    background-color: #1a1a1a;
  }

  /* TEXT COLORS */
  .text-transparent {
    color: transparent;
  }

  .text-currentColor {
    color: currentColor;
  }

  .text-primaryLight {
    color: #958cf2;
  }

  .text-secondaryLight {
    color: #f2b58c;
  }

  .text-oliveLight {
    color: #dded92;
  }

  .text-dangerLight {
    color: #f28c96;
  }

  .text-goldenLight {
    color: #f2e18c;
  }

  .text-indigoLight {
    color: #b78cf2;
  }

  .text-perssianLight {
    color: #8cc8f2;
  }

  .text-cyanLight {
    color: #8cf2ea;
  }

  .text-primary {
    color: #2a19e6;
  }

  .text-secondary {
    color: #e66f19;
  }

  .text-olive {
    color: #c3e619;
  }

  .text-danger {
    color: #e6192a;
  }

  .text-golden {
    color: #e6c419;
  }

  .text-indigo {
    color: #6f19e6;
  }

  .text-perssian {
    color: #1991e6;
  }

  .text-cyan {
    color: #19e6d4;
  }

  .text-primaryDark {
    color: #150d73;
  }

  .text-secondaryDark {
    color: #a54d0d;
  }

  .text-oliveDark {
    color: #5e6d12;
  }

  .text-dangerDark {
    color: #730d15;
  }

  .text-goldenDark {
    color: #a58c0d;
  }

  .text-indigoDark {
    color: #370d73;
  }

  .text-perssianDark {
    color: #0d4873;
  }

  .text-cyanDark {
    color: #0d736a;
  }

  .text-white {
    color: #f5f5f5;
  }

  .text-grayLight {
    color: #bfbfbf;
  }

  .text-grayMedium {
    color: #808080;
  }

  .text-grayDark {
    color: #404040;
  }

  .text-black {
    color: #1a1a1a;
  }
}
@media screen and (min-width: 1024px) {
  /* BACKGROUND COLORS */
  .bg-transparent {
    background-color: transparent;
  }

  .bg-currentColor {
    background-color: currentColor;
  }

  .bg-primaryLight {
    background-color: #958cf2;
  }

  .bg-secondaryLight {
    background-color: #f2b58c;
  }

  .bg-oliveLight {
    background-color: #dded92;
  }

  .bg-dangerLight {
    background-color: #f28c96;
  }

  .bg-goldenLight {
    background-color: #f2e18c;
  }

  .bg-indigoLight {
    background-color: #b78cf2;
  }

  .bg-perssianLight {
    background-color: #8cc8f2;
  }

  .bg-cyanLight {
    background-color: #8cf2ea;
  }

  .bg-primary {
    background-color: #2a19e6;
  }

  .bg-secondary {
    background-color: #e66f19;
  }

  .bg-olive {
    background-color: #c3e619;
  }

  .bg-danger {
    background-color: #e6192a;
  }

  .bg-golden {
    background-color: #e6c419;
  }

  .bg-indigo {
    background-color: #6f19e6;
  }

  .bg-perssian {
    background-color: #1991e6;
  }

  .bg-cyan {
    background-color: #19e6d4;
  }

  .bg-primaryDark {
    background-color: #150d73;
  }

  .bg-secondaryDark {
    background-color: #a54d0d;
  }

  .bg-oliveDark {
    background-color: #5e6d12;
  }

  .bg-dangerDark {
    background-color: #730d15;
  }

  .bg-goldenDark {
    background-color: #a58c0d;
  }

  .bg-indigoDark {
    background-color: #370d73;
  }

  .bg-perssianDark {
    background-color: #0d4873;
  }

  .bg-cyanDark {
    background-color: #0d736a;
  }

  .bg-white {
    background-color: #f5f5f5;
  }

  .bg-grayLight {
    background-color: #bfbfbf;
  }

  .bg-grayMedium {
    background-color: #808080;
  }

  .bg-grayDark {
    background-color: #404040;
  }

  .bg-black {
    background-color: #1a1a1a;
  }

  /* TEXT COLORS */
  .text-transparent {
    color: transparent;
  }

  .text-currentColor {
    color: currentColor;
  }

  .text-primaryLight {
    color: #958cf2;
  }

  .text-secondaryLight {
    color: #f2b58c;
  }

  .text-oliveLight {
    color: #dded92;
  }

  .text-dangerLight {
    color: #f28c96;
  }

  .text-goldenLight {
    color: #f2e18c;
  }

  .text-indigoLight {
    color: #b78cf2;
  }

  .text-perssianLight {
    color: #8cc8f2;
  }

  .text-cyanLight {
    color: #8cf2ea;
  }

  .text-primary {
    color: #2a19e6;
  }

  .text-secondary {
    color: #e66f19;
  }

  .text-olive {
    color: #c3e619;
  }

  .text-danger {
    color: #e6192a;
  }

  .text-golden {
    color: #e6c419;
  }

  .text-indigo {
    color: #6f19e6;
  }

  .text-perssian {
    color: #1991e6;
  }

  .text-cyan {
    color: #19e6d4;
  }

  .text-primaryDark {
    color: #150d73;
  }

  .text-secondaryDark {
    color: #a54d0d;
  }

  .text-oliveDark {
    color: #5e6d12;
  }

  .text-dangerDark {
    color: #730d15;
  }

  .text-goldenDark {
    color: #a58c0d;
  }

  .text-indigoDark {
    color: #370d73;
  }

  .text-perssianDark {
    color: #0d4873;
  }

  .text-cyanDark {
    color: #0d736a;
  }

  .text-white {
    color: #f5f5f5;
  }

  .text-grayLight {
    color: #bfbfbf;
  }

  .text-grayMedium {
    color: #808080;
  }

  .text-grayDark {
    color: #404040;
  }

  .text-black {
    color: #1a1a1a;
  }
}
@media screen and (min-width: 1280px) {
  /* BACKGROUND COLORS */
  .bg-transparent {
    background-color: transparent;
  }

  .bg-currentColor {
    background-color: currentColor;
  }

  .bg-primaryLight {
    background-color: #958cf2;
  }

  .bg-secondaryLight {
    background-color: #f2b58c;
  }

  .bg-oliveLight {
    background-color: #dded92;
  }

  .bg-dangerLight {
    background-color: #f28c96;
  }

  .bg-goldenLight {
    background-color: #f2e18c;
  }

  .bg-indigoLight {
    background-color: #b78cf2;
  }

  .bg-perssianLight {
    background-color: #8cc8f2;
  }

  .bg-cyanLight {
    background-color: #8cf2ea;
  }

  .bg-primary {
    background-color: #2a19e6;
  }

  .bg-secondary {
    background-color: #e66f19;
  }

  .bg-olive {
    background-color: #c3e619;
  }

  .bg-danger {
    background-color: #e6192a;
  }

  .bg-golden {
    background-color: #e6c419;
  }

  .bg-indigo {
    background-color: #6f19e6;
  }

  .bg-perssian {
    background-color: #1991e6;
  }

  .bg-cyan {
    background-color: #19e6d4;
  }

  .bg-primaryDark {
    background-color: #150d73;
  }

  .bg-secondaryDark {
    background-color: #a54d0d;
  }

  .bg-oliveDark {
    background-color: #5e6d12;
  }

  .bg-dangerDark {
    background-color: #730d15;
  }

  .bg-goldenDark {
    background-color: #a58c0d;
  }

  .bg-indigoDark {
    background-color: #370d73;
  }

  .bg-perssianDark {
    background-color: #0d4873;
  }

  .bg-cyanDark {
    background-color: #0d736a;
  }

  .bg-white {
    background-color: #f5f5f5;
  }

  .bg-grayLight {
    background-color: #bfbfbf;
  }

  .bg-grayMedium {
    background-color: #808080;
  }

  .bg-grayDark {
    background-color: #404040;
  }

  .bg-black {
    background-color: #1a1a1a;
  }

  /* TEXT COLORS */
  .text-transparent {
    color: transparent;
  }

  .text-currentColor {
    color: currentColor;
  }

  .text-primaryLight {
    color: #958cf2;
  }

  .text-secondaryLight {
    color: #f2b58c;
  }

  .text-oliveLight {
    color: #dded92;
  }

  .text-dangerLight {
    color: #f28c96;
  }

  .text-goldenLight {
    color: #f2e18c;
  }

  .text-indigoLight {
    color: #b78cf2;
  }

  .text-perssianLight {
    color: #8cc8f2;
  }

  .text-cyanLight {
    color: #8cf2ea;
  }

  .text-primary {
    color: #2a19e6;
  }

  .text-secondary {
    color: #e66f19;
  }

  .text-olive {
    color: #c3e619;
  }

  .text-danger {
    color: #e6192a;
  }

  .text-golden {
    color: #e6c419;
  }

  .text-indigo {
    color: #6f19e6;
  }

  .text-perssian {
    color: #1991e6;
  }

  .text-cyan {
    color: #19e6d4;
  }

  .text-primaryDark {
    color: #150d73;
  }

  .text-secondaryDark {
    color: #a54d0d;
  }

  .text-oliveDark {
    color: #5e6d12;
  }

  .text-dangerDark {
    color: #730d15;
  }

  .text-goldenDark {
    color: #a58c0d;
  }

  .text-indigoDark {
    color: #370d73;
  }

  .text-perssianDark {
    color: #0d4873;
  }

  .text-cyanDark {
    color: #0d736a;
  }

  .text-white {
    color: #f5f5f5;
  }

  .text-grayLight {
    color: #bfbfbf;
  }

  .text-grayMedium {
    color: #808080;
  }

  .text-grayDark {
    color: #404040;
  }

  .text-black {
    color: #1a1a1a;
  }
}
:root {
  --transparent: transparent;
  --currentColor: currentColor;
  --primary-light: #aaa3f5;
  --primary: #2918dc;
  --primary-dark: #110a5c;
  --secondary-light: #f5c4a3;
  --secondary: #efa36c;
  --secondary-dark: #5c2c0a;
  --green-light: #e4f0a8;
  --green: #bbd926;
  --green-dark: #4b570f;
  --danger-light: #f7a1aa;
  --danger: #e21224;
  --danger-dark: #5e080f;
  --warning-light: #f5e7a3;
  --warning: #dcbc18;
  --warning-dark: #5c4e0a;
  --info-light: #c5a3f5;
  --info: #6f19e6;
  --info-dark: #2c0a5c;
  --perssian-blue: #105c93;
  --cyan: #17cfbf;
  --light: #f5f5f5;
  --gray-light: #cccccc;
  --gray-medium: #666666;
  --gray-dark: #333333;
  --dark: #1a1a1a;
}

/* NORMALIZE */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 300;
  box-sizing: border-box;
  background-color: var(--primary);
}

*::after,
*::before,
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: steelblue;
  color: whitesmoke;
  text-align: center;
  padding-top: 50vh;
}

/*# sourceMappingURL=globals.css.map */
