@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Source+Code+Pro:wght@300;600;900&display=swap");
/* NORMALIZE STARTED */
:root {
  --current: currentColor;
  --alpha: transparent;
  --colorless: none;
  --indigo: #4d19e6;
  --orange: #e65e19;
  --teal: #31c487;
  --success: #31c449;
  --danger: #d02541;
  --warning: #e9c40c;
  --info: #25a5d0;
  --gray-100: #f5f5f5;
  --gray-200: #c7ccd1;
  --gray-300: #abb3ba;
  --gray-400: #8f99a3;
  --gray-500: #73808c;
  --gray-600: #5c6670;
  --gray-700: #454d54;
  --gray-800: #2e3338;
  --gray-900: #171a1c;
}

/* HTML & BODY ROOT NODES */
html,
body {
  border: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

*::after,
*::before,
* {
  box-sizing: inherit;
}

body {
  background-color: var(--gray-900);
  color: #f5f5f5;
  font-size: clamp(1.5vmax, 1.6rem, 3vmin);
  line-height: 2.55;
  min-height: 100vh;
  padding: 2rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.33;
  font-size: 4.8vmax;
  font-weight: 900;
  text-align: center;
  padding: 0;
  margin: 1rem auto;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  line-height: 2;
}

/* Set Display Boxmodels */
.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-inblock {
  display: inline-block;
}

.d-inflex {
  display: inline-flex;
}

.d-ingrid {
  display: inline-grid;
}

.d-inline {
  display: inline;
}

.d-none {
  display: none;
}

.d-subgrid {
  display: subgrid;
}

.d-webox {
  display: --webkit-box;
}

@media screen and (min-width: 360px) {
  .d-block-xs {
    display: block;
  }
  .d-flex-xs {
    display: flex;
  }
  .d-grid-xs {
    display: grid;
  }
  .d-inblock-xs {
    display: inline-block;
  }
  .d-inflex-xs {
    display: inline-flex;
  }
  .d-ingrid-xs {
    display: inline-grid;
  }
  .d-inline-xs {
    display: inline;
  }
  .d-none-xs {
    display: none;
  }
  .d-subgrid-xs {
    display: subgrid;
  }
  .d-webox-xs {
    display: --webkit-box;
  }
}
@media screen and (min-width: 560px) {
  .d-block-sm {
    display: block;
  }
  .d-flex-sm {
    display: flex;
  }
  .d-grid-sm {
    display: grid;
  }
  .d-inblock-sm {
    display: inline-block;
  }
  .d-inflex-sm {
    display: inline-flex;
  }
  .d-ingrid-sm {
    display: inline-grid;
  }
  .d-inline-sm {
    display: inline;
  }
  .d-none-sm {
    display: none;
  }
  .d-subgrid-sm {
    display: subgrid;
  }
  .d-webox-sm {
    display: --webkit-box;
  }
}
@media screen and (min-width: 768px) {
  .d-block-md {
    display: block;
  }
  .d-flex-md {
    display: flex;
  }
  .d-grid-md {
    display: grid;
  }
  .d-inblock-md {
    display: inline-block;
  }
  .d-inflex-md {
    display: inline-flex;
  }
  .d-ingrid-md {
    display: inline-grid;
  }
  .d-inline-md {
    display: inline;
  }
  .d-none-md {
    display: none;
  }
  .d-subgrid-md {
    display: subgrid;
  }
  .d-webox-md {
    display: --webkit-box;
  }
}
@media screen and (min-width: 1080px) {
  .d-block-lg {
    display: block;
  }
  .d-flex-lg {
    display: flex;
  }
  .d-grid-lg {
    display: grid;
  }
  .d-inblock-lg {
    display: inline-block;
  }
  .d-inflex-lg {
    display: inline-flex;
  }
  .d-ingrid-lg {
    display: inline-grid;
  }
  .d-inline-lg {
    display: inline;
  }
  .d-none-lg {
    display: none;
  }
  .d-subgrid-lg {
    display: subgrid;
  }
  .d-webox-lg {
    display: --webkit-box;
  }
}
@media screen and (min-width: 1200px) {
  .d-block-xl {
    display: block;
  }
  .d-flex-xl {
    display: flex;
  }
  .d-grid-xl {
    display: grid;
  }
  .d-inblock-xl {
    display: inline-block;
  }
  .d-inflex-xl {
    display: inline-flex;
  }
  .d-ingrid-xl {
    display: inline-grid;
  }
  .d-inline-xl {
    display: inline;
  }
  .d-none-xl {
    display: none;
  }
  .d-subgrid-xl {
    display: subgrid;
  }
  .d-webox-xl {
    display: --webkit-box;
  }
}
@media screen and (min-width: 1366px) {
  .d-block-xxl {
    display: block;
  }
  .d-flex-xxl {
    display: flex;
  }
  .d-grid-xxl {
    display: grid;
  }
  .d-inblock-xxl {
    display: inline-block;
  }
  .d-inflex-xxl {
    display: inline-flex;
  }
  .d-ingrid-xxl {
    display: inline-grid;
  }
  .d-inline-xxl {
    display: inline;
  }
  .d-none-xxl {
    display: none;
  }
  .d-subgrid-xxl {
    display: subgrid;
  }
  .d-webox-xxl {
    display: --webkit-box;
  }
}
/* Set Flexbox Grid Columns */
.cols-0 {
  flex: 0 0 0%;
  max-width: 0%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cols-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cols-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cols-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cols-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cols-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cols-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cols-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cols-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cols-9 {
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cols-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cols-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cols-12 {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 360px) {
  .cols-0--xs {
    flex: 0 0 0%;
    max-width: 0%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-1--xs {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-2--xs {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-3--xs {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-4--xs {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-5--xs {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-6--xs {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-7--xs {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-8--xs {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-9--xs {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-10--xs {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-11--xs {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-12--xs {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 560px) {
  .cols-0--sm {
    flex: 0 0 0%;
    max-width: 0%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-1--sm {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-2--sm {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-3--sm {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-4--sm {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-5--sm {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-6--sm {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-7--sm {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-8--sm {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-9--sm {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-10--sm {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-11--sm {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-12--sm {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .cols-0--md {
    flex: 0 0 0%;
    max-width: 0%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-1--md {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-2--md {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-3--md {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-4--md {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-5--md {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-6--md {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-7--md {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-8--md {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-9--md {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-10--md {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-11--md {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-12--md {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 1080px) {
  .cols-0--lg {
    flex: 0 0 0%;
    max-width: 0%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-1--lg {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-2--lg {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-3--lg {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-4--lg {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-5--lg {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-6--lg {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-7--lg {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-8--lg {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-9--lg {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-10--lg {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-11--lg {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-12--lg {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .cols-0--xl {
    flex: 0 0 0%;
    max-width: 0%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-1--xl {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-2--xl {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-3--xl {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-4--xl {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-5--xl {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-6--xl {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-7--xl {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-8--xl {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-9--xl {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-10--xl {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-11--xl {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-12--xl {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 1366px) {
  .cols-0--xxl {
    flex: 0 0 0%;
    max-width: 0%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-1--xxl {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-2--xxl {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-3--xxl {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-4--xxl {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-5--xxl {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-6--xxl {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-7--xxl {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-8--xxl {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-9--xxl {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-10--xxl {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-11--xxl {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cols-12--xxl {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
/* Set Gutters Measures within Flexbox and Grid */
.column-gap-0 {
  column-gap: 0rem;
}

.row-gap-0 {
  row-gap: 0rem;
}

.gutter-0 {
  gap: 0rem;
}

.column-gap-1 {
  column-gap: 0.1rem;
}

.row-gap-1 {
  row-gap: 0.1rem;
}

.gutter-1 {
  gap: 0.1rem;
}

.column-gap-2 {
  column-gap: 0.2rem;
}

.row-gap-2 {
  row-gap: 0.2rem;
}

.gutter-2 {
  gap: 0.2rem;
}

.column-gap-3 {
  column-gap: 0.3rem;
}

.row-gap-3 {
  row-gap: 0.3rem;
}

.gutter-3 {
  gap: 0.3rem;
}

.column-gap-4 {
  column-gap: 0.4rem;
}

.row-gap-4 {
  row-gap: 0.4rem;
}

.gutter-4 {
  gap: 0.4rem;
}

.column-gap-5 {
  column-gap: 0.5rem;
}

.row-gap-5 {
  row-gap: 0.5rem;
}

.gutter-5 {
  gap: 0.5rem;
}

.column-gap-6 {
  column-gap: 0.6rem;
}

.row-gap-6 {
  row-gap: 0.6rem;
}

.gutter-6 {
  gap: 0.6rem;
}

.column-gap-7 {
  column-gap: 0.7rem;
}

.row-gap-7 {
  row-gap: 0.7rem;
}

.gutter-7 {
  gap: 0.7rem;
}

.column-gap-8 {
  column-gap: 0.8rem;
}

.row-gap-8 {
  row-gap: 0.8rem;
}

.gutter-8 {
  gap: 0.8rem;
}

.column-gap-9 {
  column-gap: 0.9rem;
}

.row-gap-9 {
  row-gap: 0.9rem;
}

.gutter-9 {
  gap: 0.9rem;
}

.column-gap-10 {
  column-gap: 1rem;
}

.row-gap-10 {
  row-gap: 1rem;
}

.gutter-10 {
  gap: 1rem;
}

@media screen and (min-width: 360px) {
  .column-gap-0-xs {
    column-gap: 0rem;
  }
  .row-gap-0-xs {
    row-gap: 0rem;
  }
  .gutter-0-xs {
    gap: 0rem;
  }
  .column-gap-1-xs {
    column-gap: 0.1rem;
  }
  .row-gap-1-xs {
    row-gap: 0.1rem;
  }
  .gutter-1-xs {
    gap: 0.1rem;
  }
  .column-gap-2-xs {
    column-gap: 0.2rem;
  }
  .row-gap-2-xs {
    row-gap: 0.2rem;
  }
  .gutter-2-xs {
    gap: 0.2rem;
  }
  .column-gap-3-xs {
    column-gap: 0.3rem;
  }
  .row-gap-3-xs {
    row-gap: 0.3rem;
  }
  .gutter-3-xs {
    gap: 0.3rem;
  }
  .column-gap-4-xs {
    column-gap: 0.4rem;
  }
  .row-gap-4-xs {
    row-gap: 0.4rem;
  }
  .gutter-4-xs {
    gap: 0.4rem;
  }
  .column-gap-5-xs {
    column-gap: 0.5rem;
  }
  .row-gap-5-xs {
    row-gap: 0.5rem;
  }
  .gutter-5-xs {
    gap: 0.5rem;
  }
  .column-gap-6-xs {
    column-gap: 0.6rem;
  }
  .row-gap-6-xs {
    row-gap: 0.6rem;
  }
  .gutter-6-xs {
    gap: 0.6rem;
  }
  .column-gap-7-xs {
    column-gap: 0.7rem;
  }
  .row-gap-7-xs {
    row-gap: 0.7rem;
  }
  .gutter-7-xs {
    gap: 0.7rem;
  }
  .column-gap-8-xs {
    column-gap: 0.8rem;
  }
  .row-gap-8-xs {
    row-gap: 0.8rem;
  }
  .gutter-8-xs {
    gap: 0.8rem;
  }
  .column-gap-9-xs {
    column-gap: 0.9rem;
  }
  .row-gap-9-xs {
    row-gap: 0.9rem;
  }
  .gutter-9-xs {
    gap: 0.9rem;
  }
  .column-gap-10-xs {
    column-gap: 1rem;
  }
  .row-gap-10-xs {
    row-gap: 1rem;
  }
  .gutter-10-xs {
    gap: 1rem;
  }
}
@media screen and (min-width: 560px) {
  .column-gap-0-sm {
    column-gap: 0rem;
  }
  .row-gap-0-sm {
    row-gap: 0rem;
  }
  .gutter-0-sm {
    gap: 0rem;
  }
  .column-gap-1-sm {
    column-gap: 0.1rem;
  }
  .row-gap-1-sm {
    row-gap: 0.1rem;
  }
  .gutter-1-sm {
    gap: 0.1rem;
  }
  .column-gap-2-sm {
    column-gap: 0.2rem;
  }
  .row-gap-2-sm {
    row-gap: 0.2rem;
  }
  .gutter-2-sm {
    gap: 0.2rem;
  }
  .column-gap-3-sm {
    column-gap: 0.3rem;
  }
  .row-gap-3-sm {
    row-gap: 0.3rem;
  }
  .gutter-3-sm {
    gap: 0.3rem;
  }
  .column-gap-4-sm {
    column-gap: 0.4rem;
  }
  .row-gap-4-sm {
    row-gap: 0.4rem;
  }
  .gutter-4-sm {
    gap: 0.4rem;
  }
  .column-gap-5-sm {
    column-gap: 0.5rem;
  }
  .row-gap-5-sm {
    row-gap: 0.5rem;
  }
  .gutter-5-sm {
    gap: 0.5rem;
  }
  .column-gap-6-sm {
    column-gap: 0.6rem;
  }
  .row-gap-6-sm {
    row-gap: 0.6rem;
  }
  .gutter-6-sm {
    gap: 0.6rem;
  }
  .column-gap-7-sm {
    column-gap: 0.7rem;
  }
  .row-gap-7-sm {
    row-gap: 0.7rem;
  }
  .gutter-7-sm {
    gap: 0.7rem;
  }
  .column-gap-8-sm {
    column-gap: 0.8rem;
  }
  .row-gap-8-sm {
    row-gap: 0.8rem;
  }
  .gutter-8-sm {
    gap: 0.8rem;
  }
  .column-gap-9-sm {
    column-gap: 0.9rem;
  }
  .row-gap-9-sm {
    row-gap: 0.9rem;
  }
  .gutter-9-sm {
    gap: 0.9rem;
  }
  .column-gap-10-sm {
    column-gap: 1rem;
  }
  .row-gap-10-sm {
    row-gap: 1rem;
  }
  .gutter-10-sm {
    gap: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .column-gap-0-md {
    column-gap: 0rem;
  }
  .row-gap-0-md {
    row-gap: 0rem;
  }
  .gutter-0-md {
    gap: 0rem;
  }
  .column-gap-1-md {
    column-gap: 0.1rem;
  }
  .row-gap-1-md {
    row-gap: 0.1rem;
  }
  .gutter-1-md {
    gap: 0.1rem;
  }
  .column-gap-2-md {
    column-gap: 0.2rem;
  }
  .row-gap-2-md {
    row-gap: 0.2rem;
  }
  .gutter-2-md {
    gap: 0.2rem;
  }
  .column-gap-3-md {
    column-gap: 0.3rem;
  }
  .row-gap-3-md {
    row-gap: 0.3rem;
  }
  .gutter-3-md {
    gap: 0.3rem;
  }
  .column-gap-4-md {
    column-gap: 0.4rem;
  }
  .row-gap-4-md {
    row-gap: 0.4rem;
  }
  .gutter-4-md {
    gap: 0.4rem;
  }
  .column-gap-5-md {
    column-gap: 0.5rem;
  }
  .row-gap-5-md {
    row-gap: 0.5rem;
  }
  .gutter-5-md {
    gap: 0.5rem;
  }
  .column-gap-6-md {
    column-gap: 0.6rem;
  }
  .row-gap-6-md {
    row-gap: 0.6rem;
  }
  .gutter-6-md {
    gap: 0.6rem;
  }
  .column-gap-7-md {
    column-gap: 0.7rem;
  }
  .row-gap-7-md {
    row-gap: 0.7rem;
  }
  .gutter-7-md {
    gap: 0.7rem;
  }
  .column-gap-8-md {
    column-gap: 0.8rem;
  }
  .row-gap-8-md {
    row-gap: 0.8rem;
  }
  .gutter-8-md {
    gap: 0.8rem;
  }
  .column-gap-9-md {
    column-gap: 0.9rem;
  }
  .row-gap-9-md {
    row-gap: 0.9rem;
  }
  .gutter-9-md {
    gap: 0.9rem;
  }
  .column-gap-10-md {
    column-gap: 1rem;
  }
  .row-gap-10-md {
    row-gap: 1rem;
  }
  .gutter-10-md {
    gap: 1rem;
  }
}
@media screen and (min-width: 1080px) {
  .column-gap-0-lg {
    column-gap: 0rem;
  }
  .row-gap-0-lg {
    row-gap: 0rem;
  }
  .gutter-0-lg {
    gap: 0rem;
  }
  .column-gap-1-lg {
    column-gap: 0.1rem;
  }
  .row-gap-1-lg {
    row-gap: 0.1rem;
  }
  .gutter-1-lg {
    gap: 0.1rem;
  }
  .column-gap-2-lg {
    column-gap: 0.2rem;
  }
  .row-gap-2-lg {
    row-gap: 0.2rem;
  }
  .gutter-2-lg {
    gap: 0.2rem;
  }
  .column-gap-3-lg {
    column-gap: 0.3rem;
  }
  .row-gap-3-lg {
    row-gap: 0.3rem;
  }
  .gutter-3-lg {
    gap: 0.3rem;
  }
  .column-gap-4-lg {
    column-gap: 0.4rem;
  }
  .row-gap-4-lg {
    row-gap: 0.4rem;
  }
  .gutter-4-lg {
    gap: 0.4rem;
  }
  .column-gap-5-lg {
    column-gap: 0.5rem;
  }
  .row-gap-5-lg {
    row-gap: 0.5rem;
  }
  .gutter-5-lg {
    gap: 0.5rem;
  }
  .column-gap-6-lg {
    column-gap: 0.6rem;
  }
  .row-gap-6-lg {
    row-gap: 0.6rem;
  }
  .gutter-6-lg {
    gap: 0.6rem;
  }
  .column-gap-7-lg {
    column-gap: 0.7rem;
  }
  .row-gap-7-lg {
    row-gap: 0.7rem;
  }
  .gutter-7-lg {
    gap: 0.7rem;
  }
  .column-gap-8-lg {
    column-gap: 0.8rem;
  }
  .row-gap-8-lg {
    row-gap: 0.8rem;
  }
  .gutter-8-lg {
    gap: 0.8rem;
  }
  .column-gap-9-lg {
    column-gap: 0.9rem;
  }
  .row-gap-9-lg {
    row-gap: 0.9rem;
  }
  .gutter-9-lg {
    gap: 0.9rem;
  }
  .column-gap-10-lg {
    column-gap: 1rem;
  }
  .row-gap-10-lg {
    row-gap: 1rem;
  }
  .gutter-10-lg {
    gap: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .column-gap-0-xl {
    column-gap: 0rem;
  }
  .row-gap-0-xl {
    row-gap: 0rem;
  }
  .gutter-0-xl {
    gap: 0rem;
  }
  .column-gap-1-xl {
    column-gap: 0.1rem;
  }
  .row-gap-1-xl {
    row-gap: 0.1rem;
  }
  .gutter-1-xl {
    gap: 0.1rem;
  }
  .column-gap-2-xl {
    column-gap: 0.2rem;
  }
  .row-gap-2-xl {
    row-gap: 0.2rem;
  }
  .gutter-2-xl {
    gap: 0.2rem;
  }
  .column-gap-3-xl {
    column-gap: 0.3rem;
  }
  .row-gap-3-xl {
    row-gap: 0.3rem;
  }
  .gutter-3-xl {
    gap: 0.3rem;
  }
  .column-gap-4-xl {
    column-gap: 0.4rem;
  }
  .row-gap-4-xl {
    row-gap: 0.4rem;
  }
  .gutter-4-xl {
    gap: 0.4rem;
  }
  .column-gap-5-xl {
    column-gap: 0.5rem;
  }
  .row-gap-5-xl {
    row-gap: 0.5rem;
  }
  .gutter-5-xl {
    gap: 0.5rem;
  }
  .column-gap-6-xl {
    column-gap: 0.6rem;
  }
  .row-gap-6-xl {
    row-gap: 0.6rem;
  }
  .gutter-6-xl {
    gap: 0.6rem;
  }
  .column-gap-7-xl {
    column-gap: 0.7rem;
  }
  .row-gap-7-xl {
    row-gap: 0.7rem;
  }
  .gutter-7-xl {
    gap: 0.7rem;
  }
  .column-gap-8-xl {
    column-gap: 0.8rem;
  }
  .row-gap-8-xl {
    row-gap: 0.8rem;
  }
  .gutter-8-xl {
    gap: 0.8rem;
  }
  .column-gap-9-xl {
    column-gap: 0.9rem;
  }
  .row-gap-9-xl {
    row-gap: 0.9rem;
  }
  .gutter-9-xl {
    gap: 0.9rem;
  }
  .column-gap-10-xl {
    column-gap: 1rem;
  }
  .row-gap-10-xl {
    row-gap: 1rem;
  }
  .gutter-10-xl {
    gap: 1rem;
  }
}
@media screen and (min-width: 1366px) {
  .column-gap-0-xxl {
    column-gap: 0rem;
  }
  .row-gap-0-xxl {
    row-gap: 0rem;
  }
  .gutter-0-xxl {
    gap: 0rem;
  }
  .column-gap-1-xxl {
    column-gap: 0.1rem;
  }
  .row-gap-1-xxl {
    row-gap: 0.1rem;
  }
  .gutter-1-xxl {
    gap: 0.1rem;
  }
  .column-gap-2-xxl {
    column-gap: 0.2rem;
  }
  .row-gap-2-xxl {
    row-gap: 0.2rem;
  }
  .gutter-2-xxl {
    gap: 0.2rem;
  }
  .column-gap-3-xxl {
    column-gap: 0.3rem;
  }
  .row-gap-3-xxl {
    row-gap: 0.3rem;
  }
  .gutter-3-xxl {
    gap: 0.3rem;
  }
  .column-gap-4-xxl {
    column-gap: 0.4rem;
  }
  .row-gap-4-xxl {
    row-gap: 0.4rem;
  }
  .gutter-4-xxl {
    gap: 0.4rem;
  }
  .column-gap-5-xxl {
    column-gap: 0.5rem;
  }
  .row-gap-5-xxl {
    row-gap: 0.5rem;
  }
  .gutter-5-xxl {
    gap: 0.5rem;
  }
  .column-gap-6-xxl {
    column-gap: 0.6rem;
  }
  .row-gap-6-xxl {
    row-gap: 0.6rem;
  }
  .gutter-6-xxl {
    gap: 0.6rem;
  }
  .column-gap-7-xxl {
    column-gap: 0.7rem;
  }
  .row-gap-7-xxl {
    row-gap: 0.7rem;
  }
  .gutter-7-xxl {
    gap: 0.7rem;
  }
  .column-gap-8-xxl {
    column-gap: 0.8rem;
  }
  .row-gap-8-xxl {
    row-gap: 0.8rem;
  }
  .gutter-8-xxl {
    gap: 0.8rem;
  }
  .column-gap-9-xxl {
    column-gap: 0.9rem;
  }
  .row-gap-9-xxl {
    row-gap: 0.9rem;
  }
  .gutter-9-xxl {
    gap: 0.9rem;
  }
  .column-gap-10-xxl {
    column-gap: 1rem;
  }
  .row-gap-10-xxl {
    row-gap: 1rem;
  }
  .gutter-10-xxl {
    gap: 1rem;
  }
}
/* Typography Font Families */
.font-display {
  font-family: Poppins, sans-serif;
}

.font-code {
  font-family: Source Code Pro, monospace;
}

@media screen and (min-width: 360px) {
  .font-display-xs {
    font-family: Poppins, sans-serif;
  }
  .font-code-xs {
    font-family: Source Code Pro, monospace;
  }
}
@media screen and (min-width: 560px) {
  .font-display-sm {
    font-family: Poppins, sans-serif;
  }
  .font-code-sm {
    font-family: Source Code Pro, monospace;
  }
}
@media screen and (min-width: 768px) {
  .font-display-md {
    font-family: Poppins, sans-serif;
  }
  .font-code-md {
    font-family: Source Code Pro, monospace;
  }
}
@media screen and (min-width: 1080px) {
  .font-display-lg {
    font-family: Poppins, sans-serif;
  }
  .font-code-lg {
    font-family: Source Code Pro, monospace;
  }
}
@media screen and (min-width: 1200px) {
  .font-display-xl {
    font-family: Poppins, sans-serif;
  }
  .font-code-xl {
    font-family: Source Code Pro, monospace;
  }
}
@media screen and (min-width: 1366px) {
  .font-display-xxl {
    font-family: Poppins, sans-serif;
  }
  .font-code-xxl {
    font-family: Source Code Pro, monospace;
  }
}
/* Typography Font Weights */
.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

@media screen and (min-width: 360px) {
  .fw-1-xs {
    font-weight: 1;
  }
  .fw-2-xs {
    font-weight: 2;
  }
  .fw-3-xs {
    font-weight: 3;
  }
  .fw-4-xs {
    font-weight: 4;
  }
  .fw-5-xs {
    font-weight: 5;
  }
  .fw-6-xs {
    font-weight: 6;
  }
  .fw-7-xs {
    font-weight: 7;
  }
  .fw-8-xs {
    font-weight: 8;
  }
  .fw-9-xs {
    font-weight: 9;
  }
}
@media screen and (min-width: 560px) {
  .fw-1-sm {
    font-weight: 1;
  }
  .fw-2-sm {
    font-weight: 2;
  }
  .fw-3-sm {
    font-weight: 3;
  }
  .fw-4-sm {
    font-weight: 4;
  }
  .fw-5-sm {
    font-weight: 5;
  }
  .fw-6-sm {
    font-weight: 6;
  }
  .fw-7-sm {
    font-weight: 7;
  }
  .fw-8-sm {
    font-weight: 8;
  }
  .fw-9-sm {
    font-weight: 9;
  }
}
@media screen and (min-width: 768px) {
  .fw-1-md {
    font-weight: 1;
  }
  .fw-2-md {
    font-weight: 2;
  }
  .fw-3-md {
    font-weight: 3;
  }
  .fw-4-md {
    font-weight: 4;
  }
  .fw-5-md {
    font-weight: 5;
  }
  .fw-6-md {
    font-weight: 6;
  }
  .fw-7-md {
    font-weight: 7;
  }
  .fw-8-md {
    font-weight: 8;
  }
  .fw-9-md {
    font-weight: 9;
  }
}
@media screen and (min-width: 1080px) {
  .fw-1-lg {
    font-weight: 1;
  }
  .fw-2-lg {
    font-weight: 2;
  }
  .fw-3-lg {
    font-weight: 3;
  }
  .fw-4-lg {
    font-weight: 4;
  }
  .fw-5-lg {
    font-weight: 5;
  }
  .fw-6-lg {
    font-weight: 6;
  }
  .fw-7-lg {
    font-weight: 7;
  }
  .fw-8-lg {
    font-weight: 8;
  }
  .fw-9-lg {
    font-weight: 9;
  }
}
@media screen and (min-width: 1200px) {
  .fw-1-xl {
    font-weight: 1;
  }
  .fw-2-xl {
    font-weight: 2;
  }
  .fw-3-xl {
    font-weight: 3;
  }
  .fw-4-xl {
    font-weight: 4;
  }
  .fw-5-xl {
    font-weight: 5;
  }
  .fw-6-xl {
    font-weight: 6;
  }
  .fw-7-xl {
    font-weight: 7;
  }
  .fw-8-xl {
    font-weight: 8;
  }
  .fw-9-xl {
    font-weight: 9;
  }
}
@media screen and (min-width: 1366px) {
  .fw-1-xxl {
    font-weight: 1;
  }
  .fw-2-xxl {
    font-weight: 2;
  }
  .fw-3-xxl {
    font-weight: 3;
  }
  .fw-4-xxl {
    font-weight: 4;
  }
  .fw-5-xxl {
    font-weight: 5;
  }
  .fw-6-xxl {
    font-weight: 6;
  }
  .fw-7-xxl {
    font-weight: 7;
  }
  .fw-8-xxl {
    font-weight: 8;
  }
  .fw-9-xxl {
    font-weight: 9;
  }
}
/* Typography Line Heights */
.lh-0 {
  line-height: 0;
}

.lh-1 {
  line-height: 0.125;
}

.lh-2 {
  line-height: 0.25;
}

.lh-3 {
  line-height: 0.375;
}

.lh-4 {
  line-height: 0.5;
}

.lh-5 {
  line-height: 0.625;
}

.lh-6 {
  line-height: 0.75;
}

.lh-7 {
  line-height: 0.875;
}

.lh-8 {
  line-height: 1;
}

.lh-9 {
  line-height: 1.125;
}

.lh-10 {
  line-height: 1.25;
}

.lh-11 {
  line-height: 1.375;
}

.lh-12 {
  line-height: 1.5;
}

.lh-13 {
  line-height: 1.625;
}

.lh-14 {
  line-height: 1.75;
}

.lh-15 {
  line-height: 1.875;
}

.lh-16 {
  line-height: 2;
}

.lh-17 {
  line-height: 2.125;
}

.lh-18 {
  line-height: 2.25;
}

.lh-19 {
  line-height: 2.375;
}

.lh-20 {
  line-height: 2.5;
}

.lh-21 {
  line-height: 2.625;
}

.lh-22 {
  line-height: 2.75;
}

.lh-23 {
  line-height: 2.875;
}

.lh-24 {
  line-height: 3;
}

@media screen and (min-width: 360px) {
  .lh-0-xs {
    line-height: 0;
  }
  .lh-1-xs {
    line-height: 0.125;
  }
  .lh-2-xs {
    line-height: 0.25;
  }
  .lh-3-xs {
    line-height: 0.375;
  }
  .lh-4-xs {
    line-height: 0.5;
  }
  .lh-5-xs {
    line-height: 0.625;
  }
  .lh-6-xs {
    line-height: 0.75;
  }
  .lh-7-xs {
    line-height: 0.875;
  }
  .lh-8-xs {
    line-height: 1;
  }
  .lh-9-xs {
    line-height: 1.125;
  }
  .lh-10-xs {
    line-height: 1.25;
  }
  .lh-11-xs {
    line-height: 1.375;
  }
  .lh-12-xs {
    line-height: 1.5;
  }
  .lh-13-xs {
    line-height: 1.625;
  }
  .lh-14-xs {
    line-height: 1.75;
  }
  .lh-15-xs {
    line-height: 1.875;
  }
  .lh-16-xs {
    line-height: 2;
  }
  .lh-17-xs {
    line-height: 2.125;
  }
  .lh-18-xs {
    line-height: 2.25;
  }
  .lh-19-xs {
    line-height: 2.375;
  }
  .lh-20-xs {
    line-height: 2.5;
  }
  .lh-21-xs {
    line-height: 2.625;
  }
  .lh-22-xs {
    line-height: 2.75;
  }
  .lh-23-xs {
    line-height: 2.875;
  }
  .lh-24-xs {
    line-height: 3;
  }
}
@media screen and (min-width: 560px) {
  .lh-0-sm {
    line-height: 0;
  }
  .lh-1-sm {
    line-height: 0.125;
  }
  .lh-2-sm {
    line-height: 0.25;
  }
  .lh-3-sm {
    line-height: 0.375;
  }
  .lh-4-sm {
    line-height: 0.5;
  }
  .lh-5-sm {
    line-height: 0.625;
  }
  .lh-6-sm {
    line-height: 0.75;
  }
  .lh-7-sm {
    line-height: 0.875;
  }
  .lh-8-sm {
    line-height: 1;
  }
  .lh-9-sm {
    line-height: 1.125;
  }
  .lh-10-sm {
    line-height: 1.25;
  }
  .lh-11-sm {
    line-height: 1.375;
  }
  .lh-12-sm {
    line-height: 1.5;
  }
  .lh-13-sm {
    line-height: 1.625;
  }
  .lh-14-sm {
    line-height: 1.75;
  }
  .lh-15-sm {
    line-height: 1.875;
  }
  .lh-16-sm {
    line-height: 2;
  }
  .lh-17-sm {
    line-height: 2.125;
  }
  .lh-18-sm {
    line-height: 2.25;
  }
  .lh-19-sm {
    line-height: 2.375;
  }
  .lh-20-sm {
    line-height: 2.5;
  }
  .lh-21-sm {
    line-height: 2.625;
  }
  .lh-22-sm {
    line-height: 2.75;
  }
  .lh-23-sm {
    line-height: 2.875;
  }
  .lh-24-sm {
    line-height: 3;
  }
}
@media screen and (min-width: 768px) {
  .lh-0-md {
    line-height: 0;
  }
  .lh-1-md {
    line-height: 0.125;
  }
  .lh-2-md {
    line-height: 0.25;
  }
  .lh-3-md {
    line-height: 0.375;
  }
  .lh-4-md {
    line-height: 0.5;
  }
  .lh-5-md {
    line-height: 0.625;
  }
  .lh-6-md {
    line-height: 0.75;
  }
  .lh-7-md {
    line-height: 0.875;
  }
  .lh-8-md {
    line-height: 1;
  }
  .lh-9-md {
    line-height: 1.125;
  }
  .lh-10-md {
    line-height: 1.25;
  }
  .lh-11-md {
    line-height: 1.375;
  }
  .lh-12-md {
    line-height: 1.5;
  }
  .lh-13-md {
    line-height: 1.625;
  }
  .lh-14-md {
    line-height: 1.75;
  }
  .lh-15-md {
    line-height: 1.875;
  }
  .lh-16-md {
    line-height: 2;
  }
  .lh-17-md {
    line-height: 2.125;
  }
  .lh-18-md {
    line-height: 2.25;
  }
  .lh-19-md {
    line-height: 2.375;
  }
  .lh-20-md {
    line-height: 2.5;
  }
  .lh-21-md {
    line-height: 2.625;
  }
  .lh-22-md {
    line-height: 2.75;
  }
  .lh-23-md {
    line-height: 2.875;
  }
  .lh-24-md {
    line-height: 3;
  }
}
@media screen and (min-width: 1080px) {
  .lh-0-lg {
    line-height: 0;
  }
  .lh-1-lg {
    line-height: 0.125;
  }
  .lh-2-lg {
    line-height: 0.25;
  }
  .lh-3-lg {
    line-height: 0.375;
  }
  .lh-4-lg {
    line-height: 0.5;
  }
  .lh-5-lg {
    line-height: 0.625;
  }
  .lh-6-lg {
    line-height: 0.75;
  }
  .lh-7-lg {
    line-height: 0.875;
  }
  .lh-8-lg {
    line-height: 1;
  }
  .lh-9-lg {
    line-height: 1.125;
  }
  .lh-10-lg {
    line-height: 1.25;
  }
  .lh-11-lg {
    line-height: 1.375;
  }
  .lh-12-lg {
    line-height: 1.5;
  }
  .lh-13-lg {
    line-height: 1.625;
  }
  .lh-14-lg {
    line-height: 1.75;
  }
  .lh-15-lg {
    line-height: 1.875;
  }
  .lh-16-lg {
    line-height: 2;
  }
  .lh-17-lg {
    line-height: 2.125;
  }
  .lh-18-lg {
    line-height: 2.25;
  }
  .lh-19-lg {
    line-height: 2.375;
  }
  .lh-20-lg {
    line-height: 2.5;
  }
  .lh-21-lg {
    line-height: 2.625;
  }
  .lh-22-lg {
    line-height: 2.75;
  }
  .lh-23-lg {
    line-height: 2.875;
  }
  .lh-24-lg {
    line-height: 3;
  }
}
@media screen and (min-width: 1200px) {
  .lh-0-xl {
    line-height: 0;
  }
  .lh-1-xl {
    line-height: 0.125;
  }
  .lh-2-xl {
    line-height: 0.25;
  }
  .lh-3-xl {
    line-height: 0.375;
  }
  .lh-4-xl {
    line-height: 0.5;
  }
  .lh-5-xl {
    line-height: 0.625;
  }
  .lh-6-xl {
    line-height: 0.75;
  }
  .lh-7-xl {
    line-height: 0.875;
  }
  .lh-8-xl {
    line-height: 1;
  }
  .lh-9-xl {
    line-height: 1.125;
  }
  .lh-10-xl {
    line-height: 1.25;
  }
  .lh-11-xl {
    line-height: 1.375;
  }
  .lh-12-xl {
    line-height: 1.5;
  }
  .lh-13-xl {
    line-height: 1.625;
  }
  .lh-14-xl {
    line-height: 1.75;
  }
  .lh-15-xl {
    line-height: 1.875;
  }
  .lh-16-xl {
    line-height: 2;
  }
  .lh-17-xl {
    line-height: 2.125;
  }
  .lh-18-xl {
    line-height: 2.25;
  }
  .lh-19-xl {
    line-height: 2.375;
  }
  .lh-20-xl {
    line-height: 2.5;
  }
  .lh-21-xl {
    line-height: 2.625;
  }
  .lh-22-xl {
    line-height: 2.75;
  }
  .lh-23-xl {
    line-height: 2.875;
  }
  .lh-24-xl {
    line-height: 3;
  }
}
@media screen and (min-width: 1366px) {
  .lh-0-xxl {
    line-height: 0;
  }
  .lh-1-xxl {
    line-height: 0.125;
  }
  .lh-2-xxl {
    line-height: 0.25;
  }
  .lh-3-xxl {
    line-height: 0.375;
  }
  .lh-4-xxl {
    line-height: 0.5;
  }
  .lh-5-xxl {
    line-height: 0.625;
  }
  .lh-6-xxl {
    line-height: 0.75;
  }
  .lh-7-xxl {
    line-height: 0.875;
  }
  .lh-8-xxl {
    line-height: 1;
  }
  .lh-9-xxl {
    line-height: 1.125;
  }
  .lh-10-xxl {
    line-height: 1.25;
  }
  .lh-11-xxl {
    line-height: 1.375;
  }
  .lh-12-xxl {
    line-height: 1.5;
  }
  .lh-13-xxl {
    line-height: 1.625;
  }
  .lh-14-xxl {
    line-height: 1.75;
  }
  .lh-15-xxl {
    line-height: 1.875;
  }
  .lh-16-xxl {
    line-height: 2;
  }
  .lh-17-xxl {
    line-height: 2.125;
  }
  .lh-18-xxl {
    line-height: 2.25;
  }
  .lh-19-xxl {
    line-height: 2.375;
  }
  .lh-20-xxl {
    line-height: 2.5;
  }
  .lh-21-xxl {
    line-height: 2.625;
  }
  .lh-22-xxl {
    line-height: 2.75;
  }
  .lh-23-xxl {
    line-height: 2.875;
  }
  .lh-24-xxl {
    line-height: 3;
  }
}

/*# sourceMappingURL=index.css.map */
