:root {
    --transparent: transparent;
    --currentColor: currentColor;
    --primary-light: #aaa3f5;
    --primary: #2918dc;
    --primary-dark: #110a5c;
    --secondary-light: #f5c4a3;
    --secondary: #efa36c;
    --secondary-dark: #5c2c0a;
    --green-light: #e4f0a8;
    --green: #bbd926;
    --green-dark: #4b570f;
    --danger-light: #f7a1aa;
    --danger: #e21224;
    --danger-dark: #5e080f;
    --warning-light: #f5e7a3;
    --warning: #dcbc18;
    --warning-dark: #5c4e0a;
    --info-light: #c5a3f5;
    --info: #6f19e6;
    --info-dark: #2c0a5c;
    --perssian-blue: #105c93;
    --cyan: #17cfbf;
    --light: #f5f5f5;
    --gray-light: #cccccc;
    --gray-medium: #666666;
    --gray-dark: #333333;
    --dark: #1a1a1a;
}

/* NORMALIZE */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 300;
    box-sizing: border-box;
    background-color: var(--primary);
}

*::after,
*::before,
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: steelblue;
    color: whitesmoke;
    text-align: center;
    padding-top: 50vh;
}
