:root {
    --transparent: transparent;
    --currentColor: currentColor;
    --primary: #2a19e6;
    --secondary: #ff6347;
    --olive: #c3e619;
    --danger: #e6192a;
    --golden: #e6c419;
    --indigo: #6f19e6;
    --perssian: #1991e6;
    --cyan: #19e6d4;
    --white: #f5f5f5;
    --gray-100: #bfbfbf;
    --gray-200: #808080;
    --gray-300: #404040;
    --black: #1a1a1a;
}

/* NORMALIZE */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 300;
    box-sizing: border-box;
}

*::after,
*::before,
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    // background-color: tomato;
}
