:root {
	--color-current: currentColor;
	--color-alpha: transparent;
	--color-none: none;
	--indigo: #3d14b8;
	--salmon: #ff6347;
	--teal: #0e8181;
	--persian: #071f40;
	--success: #18dc7a;
	--danger: #e6192a;
	--warning: #f2d40d;
	--info: #1991e6;
	--gray100: #d7d6dc;
	--gray200: #9da4af;
	--gray300: #878a92;
	--gray400: #3e3b45;
	--themeLight: #f0f0f0;
	--themeDark: #1c1c22;

	// FONT SIZES VARIABLES:
	--fz-base: 62.5%;
	--fz-sm: 1.6rem;
	--fz-md: 2.4rem;
	--fz-lg: 3.2rem;
	--fz-xl: 4.8rem;
	--fz-2xl: 6.4rem;
	--fz-3xl: 7.2rem;
}

/* HTML & BODY ROOT NODES */
html {
	all: unset;
	border: none;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 62.5%;
	font-weight: 300;
	margin: 0;
	outline: none;
	padding: 0;
	text-size-adjust: 100%;
	font-size-adjust: 0.58;
}

*::after,
*::before,
* {
	box-sizing: inherit;
}

body {
	@extend html;
	font-size: 1.6rem;
	padding: 2rem;
	background-color: var(--themeLight);
	color: var(--theme-dark);
	min-height: 100vh;
	position: relative;
}

/* ANCHOR LINKS */
// a {
// }

/* HEADINGS  & PARAGRAPHS */
h1,
h2,
h3,
h4 {
	line-height: 1;
	margin: 0;
	padding: 0;
	font-size: var(--fz-xl);
}

h2 {
	@extend h1;
	font-size: var(--fz-lg);
	font-weight: 900;
}

h3 {
	font-size: var(--fz-md);
	font-weight: 600;
}

// PSEUDO ELEMENTS:
