// SETTINGS VARIABLES:
$enableClasses: true !default;
$fontSizeBase: 10px !default;
$lineHeightBase: 1.55 !default;
$radiusBase: 8px !default;

//----------------------------------------------------------------
// ? THEMES: BGCOLOR, TEXTCOLOR, BORDERS, etc.
$transparent: transparent;
$currentColor: currentColor;

// Brand Tones Lighten: 958cf2-f2b58c-dded92-f28c96-f2e18c-b78cf2-8cc8f2-0d736a
$primaryLight: #958cf2;
$secondaryLight: #f2b58c;
$oliveLight: #dded92;
$dangerLight: #f28c96;
$goldenLight: #f2e18c;
$indigoLight: #b78cf2;
$perssianLight: #8cc8f2;
$cyanLight: #8cf2ea;

// Brand Tones: 2a19e6-e66f19-c3e619-e6192a-e6c419-6f19e6-1991e6-8cf2ea
$primary: #2a19e6;
$secondary: #e66f19;
$olive: #c3e619;
$danger: #e6192a;
$golden: #e6c419;
$indigo: #6f19e6;
$perssian: #1991e6;
$cyan: #19e6d4;

// Brand Tones Darken: 150d73-a54d0d-5e6d12-730d15-a58c0d-370d73-0d4873-0d736a
$primaryDark: #150d73;
$secondaryDark: #a54d0d;
$oliveDark: #5e6d12;
$dangerDark: #730d15;
$goldenDark: #a58c0d;
$indigoDark: #370d73;
$perssianDark: #0d4873;
$cyanDark: #0d736a;

// Grayscale Neutral Tones: f5f5f5-bfbfbf-808080-404040-1a1a1a
$white: #f5f5f5;
$grayLight: #bfbfbf;
$grayMedium: #808080;
$grayDark: #404040;
$black: #1a1a1a;

$brandColors: (
    'transparent': transparent,
    'currentColor': currentColor,

    // Brand Tones Lighten: 958cf2-f2b58c-dded92-f28c96-f2e18c-b78cf2-8cc8f2-0d736a
    'primaryLight': #958cf2,
    'secondaryLight': #f2b58c,
    'oliveLight': #dded92,
    'dangerLight': #f28c96,
    'goldenLight': #f2e18c,
    'indigoLight': #b78cf2,
    'perssianLight': #8cc8f2,
    'cyanLight': #8cf2ea,

    // Brand Tones: 2a19e6-e66f19-c3e619-e6192a-e6c419-6f19e6-1991e6-8cf2ea
    'primary': #2a19e6,
    'secondary': #e66f19,
    'olive': #c3e619,
    'danger': #e6192a,
    'golden': #e6c419,
    'indigo': #6f19e6,
    'perssian': #1991e6,
    'cyan': #19e6d4,

    // Brand Tones Darken: 150d73-a54d0d-5e6d12-730d15-a58c0d-370d73-0d4873-0d736a
    'primaryDark': #150d73,
    'secondaryDark': #a54d0d,
    'oliveDark': #5e6d12,
    'dangerDark': #730d15,
    'goldenDark': #a58c0d,
    'indigoDark': #370d73,
    'perssianDark': #0d4873,
    'cyanDark': #0d736a,

    // Grayscale Neutral Tones: f5f5f5-bfbfbf-808080-404040-1a1a1a
    'white': #f5f5f5,
    'grayLight': #bfbfbf,
    'grayMedium': #808080,
    'grayDark': #404040,
    'black': #1a1a1a,
);

$borderStyles: (
    none,
    hidden,
    dotted,
    dashed,
    solid,
    groove,
    ridge,
    inset,
    outset
);

// MQ Breakpoints:
$breakpoints: (
    'sm': 480px,
    'md': 640px,
    'lg': 768px,
    'xl': 1024px,
    '2xl': 1280px,
    '3xl': 1400px,
);

// DISPLAYS:
$displays: (inline, inline-block, block, inline-flex, flex, grid, table, none);

// FLEXBOX VARIABLES:
$flexAlignItems: (
    'start': flex-start,
    'end': flex-end,
    'center': center,
    'baseline': baseline,
    'stretch': stretch,
);

$flexJustifyContents: (
    'Start': flex-start,
    'End': flex-end,
    'Center': center,
    'Around': space-around,
    'Between': space-between,
    'Evenly': space-evenly,
);

$flexWrapper: (
    'wrap': wrap,
    'nowrap': nowrap,
    'wrapReverse': wrap-reverse,
);

// POSITIONS:
$positions: (relative, absolute, sticky, fixed, static);

$zIndexes: (0, 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 9999);

//----------------------------------------------------------------
// ? TYPOGRAPHY: Fonts, Font-Sizes, Line-Heights, etc...
$fontFamily: (
    'display': '"Jost", sans-serif',
    'serif': '"Times New Roman", serif',
    'monocode': ' "Source Code Pro", monospace',
);
$fontSizes: (
    'none': 0,
    'xs': 0.8rem,
    'base': 1rem,
    'sm': 1.2rem,
    'md': 1.6rem,
    'lg': 2rem,
    'xl': 2.4rem,
    '2xl': 3rem,
    '3xl': 3.6rem,
    '4xl': 4.8rem,
    '5xl': 6rem,
    '6xl': 7.2rem,
    '7xl': 9.6rem,
    '8xl': 12.8rem,
);
$fontWeights: (100, 200, 300, 400, 500, 600, 700, 800, 900);

// LINE HEIGHTS:
$lineHeights: (
    'xs': 0.5,
    'sm': 0.75,
    'body': 1,
    'md': 1.33,
    'lg': 1.44,
    'xl': 1.55,
    '2xl': 1.618,
    '3xl': 1.77,
    '4xl': 2,
);
$listStyles: (
    circle,
    decimal,
    decimal-leading-zero,
    upper-alpha,
    lower-alpha,
    upper-roman,
    lower-roman,
    square,
    none
);

// TEXTS VARIABLES:
$textAlignments: (left, right, center, justify, unset);
$textDecorations: (none, underline, overline, line-through);
$textTransforms: (none, uppercase, lowercase, capitalize);

//----------------------------------------------------------------
// ? UTILITIES: Border Radius, Opacity, Overflows, Shadows, etc...
$aspectRatios: (
    '1-1': '1/1',
    '16-9': '16/9',
    '9-16': '9/16',
    '2-3': '2/3',
    '3-2': '3/2',
    '4-3': '4/3',
    '3-4': '3/4',
    '5-4': '5/4',
    '4-5': '4/5',
);

$cursors: (
    none,
    unset,
    auto,
    pointer,
    copy,
    not-allowed,
    progress,
    help,
    zoom-in,
    zoom-out
);

$objectFitting: (auto, cover, contain, unset);

$resizeInputs: (vertical, horizontal, both, unset);

$overflow-map: (visible, hidden, scroll, auto, clip, unset);
$visibility-map: (visible, hidden, collapse, unset);

// Border Radius:
$radiusBorder: (
    'none': 0,
    'xs': 0.8rem,
    'base': 1rem,
    'sm': 1.2rem,
    'md': 1.6rem,
    'lg': 2rem,
    'xl': 2.4rem,
    '2xl': 2.8rem,
    '4xl': 3.2rem,
    '5xl': 4.8rem,
    '6xl': 6.4rem,
    'circle': 50%,
    'full': 100%,
);
