@import 'config/_variables.scss';
@import 'config/_functions.scss';
@import 'config/_mixins.scss';

// NORMALIZE: 
:root {
	--indigo: #3d14b8;
	--salmon: #ff6347;
	--teal: #0e8181;
	--persian: #071f40;
	--success: #18dc7a;
	--danger: #e6192a;
	--warning: #f2d40d;
	--info: #1991e6;
	--gray-100: #d7d6dc;
	--gray-200: #9da4af;
	--gray-300: #878a92;
	--gray-400: #3e3b45;
	--theme-light: #f0f0f0;
	--theme-dark: #1c1c22;
}

/* NORMALIZE */
html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 62.5%;
    font-weight: 300;
    box-sizing: border-box;
}

*::after,
*::before,
* {
    box-sizing: border-box;
}

body {
	@extend html;
	 color: currentColor;
	 font-size: 1.6rem;
	 padding: 1.8rem 2rem;
    background-color: whitesmoke;
    min-height: 100vh;
}


@import 'utils';
