/* TYPOGRAPHY: Font Family */
.font-display {
    font-family: '"Jost", sans-serif';
}

.font-serif {
    font-family: '"Times New Roman", serif';
}

.font-monocode {
    font-family: ' "Source Code Pro", monospace';
}

/* TYPOGRAPHY: Font Sizes Values */
.fs-cero {
    font-size: 0;
}

.fs-xs {
    font-size: 0.8rem;
}

.fs-body {
    font-size: 1rem;
}

.fs-sm {
    font-size: 1.2rem;
}

.fs-md {
    font-size: 1.6rem;
}

.fs-lg {
    font-size: 2rem;
}

.fs-xl {
    font-size: 2.4rem;
}

.fs-2xl {
    font-size: 3rem;
}

.fs-3xl {
    font-size: 3.6rem;
}

.fs-4xl {
    font-size: 4.8rem;
}

@media screen and (max-width: 480px) {
    .sm_fs-cero {
        font-size: 0;
    }

    .sm_fs-xs {
        font-size: 0.8rem;
    }

    .sm_fs-body {
        font-size: 1rem;
    }

    .sm_fs-sm {
        font-size: 1.2rem;
    }

    .sm_fs-md {
        font-size: 1.6rem;
    }

    .sm_fs-lg {
        font-size: 2rem;
    }

    .sm_fs-xl {
        font-size: 2.4rem;
    }

    .sm_fs-2xl {
        font-size: 3rem;
    }

    .sm_fs-3xl {
        font-size: 3.6rem;
    }

    .sm_fs-4xl {
        font-size: 4.8rem;
    }
}
@media screen and (max-width: 640px) {
    .md_fs-cero {
        font-size: 0;
    }

    .md_fs-xs {
        font-size: 0.8rem;
    }

    .md_fs-body {
        font-size: 1rem;
    }

    .md_fs-sm {
        font-size: 1.2rem;
    }

    .md_fs-md {
        font-size: 1.6rem;
    }

    .md_fs-lg {
        font-size: 2rem;
    }

    .md_fs-xl {
        font-size: 2.4rem;
    }

    .md_fs-2xl {
        font-size: 3rem;
    }

    .md_fs-3xl {
        font-size: 3.6rem;
    }

    .md_fs-4xl {
        font-size: 4.8rem;
    }
}
@media screen and (max-width: 768px) {
    .lg_fs-cero {
        font-size: 0;
    }

    .lg_fs-xs {
        font-size: 0.8rem;
    }

    .lg_fs-body {
        font-size: 1rem;
    }

    .lg_fs-sm {
        font-size: 1.2rem;
    }

    .lg_fs-md {
        font-size: 1.6rem;
    }

    .lg_fs-lg {
        font-size: 2rem;
    }

    .lg_fs-xl {
        font-size: 2.4rem;
    }

    .lg_fs-2xl {
        font-size: 3rem;
    }

    .lg_fs-3xl {
        font-size: 3.6rem;
    }

    .lg_fs-4xl {
        font-size: 4.8rem;
    }
}
@media screen and (max-width: 1024px) {
    .xl_fs-cero {
        font-size: 0;
    }

    .xl_fs-xs {
        font-size: 0.8rem;
    }

    .xl_fs-body {
        font-size: 1rem;
    }

    .xl_fs-sm {
        font-size: 1.2rem;
    }

    .xl_fs-md {
        font-size: 1.6rem;
    }

    .xl_fs-lg {
        font-size: 2rem;
    }

    .xl_fs-xl {
        font-size: 2.4rem;
    }

    .xl_fs-2xl {
        font-size: 3rem;
    }

    .xl_fs-3xl {
        font-size: 3.6rem;
    }

    .xl_fs-4xl {
        font-size: 4.8rem;
    }
}
@media screen and (max-width: 1280px) {
    .xxl_fs-cero {
        font-size: 0;
    }

    .xxl_fs-xs {
        font-size: 0.8rem;
    }

    .xxl_fs-body {
        font-size: 1rem;
    }

    .xxl_fs-sm {
        font-size: 1.2rem;
    }

    .xxl_fs-md {
        font-size: 1.6rem;
    }

    .xxl_fs-lg {
        font-size: 2rem;
    }

    .xxl_fs-xl {
        font-size: 2.4rem;
    }

    .xxl_fs-2xl {
        font-size: 3rem;
    }

    .xxl_fs-3xl {
        font-size: 3.6rem;
    }

    .xxl_fs-4xl {
        font-size: 4.8rem;
    }
}
@media screen and (max-width: 1400px) {
    .x2l_fs-cero {
        font-size: 0;
    }

    .x2l_fs-xs {
        font-size: 0.8rem;
    }

    .x2l_fs-body {
        font-size: 1rem;
    }

    .x2l_fs-sm {
        font-size: 1.2rem;
    }

    .x2l_fs-md {
        font-size: 1.6rem;
    }

    .x2l_fs-lg {
        font-size: 2rem;
    }

    .x2l_fs-xl {
        font-size: 2.4rem;
    }

    .x2l_fs-2xl {
        font-size: 3rem;
    }

    .x2l_fs-3xl {
        font-size: 3.6rem;
    }

    .x2l_fs-4xl {
        font-size: 4.8rem;
    }
}

/* TYPOGRAPHY: LINE HEIGHTS VALUES */
.interline-50 {
    line-height: 0.5;
}

.interline-75 {
    line-height: 0.75;
}

.interline-100 {
    line-height: 1;
}

.interline-133 {
    line-height: 1.33;
}

.interline-144 {
    line-height: 1.44;
}

.interline-155 {
    line-height: 1.55;
}

.interline-161 {
    line-height: 1.618;
}

.interline-177 {
    line-height: 1.77;
}

.interline-200 {
    line-height: 2;
}

@media screen and (max-width: 480px) {
    .sm_interline-50 {
        line-height: 0.5;
    }

    .sm_interline-75 {
        line-height: 0.75;
    }

    .sm_interline-100 {
        line-height: 1;
    }

    .sm_interline-133 {
        line-height: 1.33;
    }

    .sm_interline-144 {
        line-height: 1.44;
    }

    .sm_interline-155 {
        line-height: 1.55;
    }

    .sm_interline-161 {
        line-height: 1.618;
    }

    .sm_interline-177 {
        line-height: 1.77;
    }

    .sm_interline-200 {
        line-height: 2;
    }
}
@media screen and (max-width: 640px) {
    .md_interline-50 {
        line-height: 0.5;
    }

    .md_interline-75 {
        line-height: 0.75;
    }

    .md_interline-100 {
        line-height: 1;
    }

    .md_interline-133 {
        line-height: 1.33;
    }

    .md_interline-144 {
        line-height: 1.44;
    }

    .md_interline-155 {
        line-height: 1.55;
    }

    .md_interline-161 {
        line-height: 1.618;
    }

    .md_interline-177 {
        line-height: 1.77;
    }

    .md_interline-200 {
        line-height: 2;
    }
}
@media screen and (max-width: 768px) {
    .lg_interline-50 {
        line-height: 0.5;
    }

    .lg_interline-75 {
        line-height: 0.75;
    }

    .lg_interline-100 {
        line-height: 1;
    }

    .lg_interline-133 {
        line-height: 1.33;
    }

    .lg_interline-144 {
        line-height: 1.44;
    }

    .lg_interline-155 {
        line-height: 1.55;
    }

    .lg_interline-161 {
        line-height: 1.618;
    }

    .lg_interline-177 {
        line-height: 1.77;
    }

    .lg_interline-200 {
        line-height: 2;
    }
}
@media screen and (max-width: 1024px) {
    .xl_interline-50 {
        line-height: 0.5;
    }

    .xl_interline-75 {
        line-height: 0.75;
    }

    .xl_interline-100 {
        line-height: 1;
    }

    .xl_interline-133 {
        line-height: 1.33;
    }

    .xl_interline-144 {
        line-height: 1.44;
    }

    .xl_interline-155 {
        line-height: 1.55;
    }

    .xl_interline-161 {
        line-height: 1.618;
    }

    .xl_interline-177 {
        line-height: 1.77;
    }

    .xl_interline-200 {
        line-height: 2;
    }
}
@media screen and (max-width: 1280px) {
    .xxl_interline-50 {
        line-height: 0.5;
    }

    .xxl_interline-75 {
        line-height: 0.75;
    }

    .xxl_interline-100 {
        line-height: 1;
    }

    .xxl_interline-133 {
        line-height: 1.33;
    }

    .xxl_interline-144 {
        line-height: 1.44;
    }

    .xxl_interline-155 {
        line-height: 1.55;
    }

    .xxl_interline-161 {
        line-height: 1.618;
    }

    .xxl_interline-177 {
        line-height: 1.77;
    }

    .xxl_interline-200 {
        line-height: 2;
    }
}
@media screen and (max-width: 1400px) {
    .x2l_interline-50 {
        line-height: 0.5;
    }

    .x2l_interline-75 {
        line-height: 0.75;
    }

    .x2l_interline-100 {
        line-height: 1;
    }

    .x2l_interline-133 {
        line-height: 1.33;
    }

    .x2l_interline-144 {
        line-height: 1.44;
    }

    .x2l_interline-155 {
        line-height: 1.55;
    }

    .x2l_interline-161 {
        line-height: 1.618;
    }

    .x2l_interline-177 {
        line-height: 1.77;
    }

    .x2l_interline-200 {
        line-height: 2;
    }
}

/* TYPOGRAPHY: LIST STYLE TYPES */
.bullet-circle {
    list-style: circle;
}

.bullet-decimal {
    list-style: decimal;
}

.bullet-decimal-leading-zero {
    list-style: decimal-leading-zero;
}

.bullet-upper-alpha {
    list-style: upper-alpha;
}

.bullet-lower-alpha {
    list-style: lower-alpha;
}

.bullet-upper-roman {
    list-style: upper-roman;
}

.bullet-lower-roman {
    list-style: lower-roman;
}

.bullet-square {
    list-style: square;
}

.bullet-none {
    list-style: none;
}

/* TYPOGRAPHY: Text Alignments */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

@media screen and (max-width: 480px) {
    .sm_text-left {
        text-align: left;
    }

    .sm_text-right {
        text-align: right;
    }

    .sm_text-center {
        text-align: center;
    }

    .sm_text-justify {
        text-align: justify;
    }
}
@media screen and (max-width: 640px) {
    .md_text-left {
        text-align: left;
    }

    .md_text-right {
        text-align: right;
    }

    .md_text-center {
        text-align: center;
    }

    .md_text-justify {
        text-align: justify;
    }
}
@media screen and (max-width: 768px) {
    .lg_text-left {
        text-align: left;
    }

    .lg_text-right {
        text-align: right;
    }

    .lg_text-center {
        text-align: center;
    }

    .lg_text-justify {
        text-align: justify;
    }
}
@media screen and (max-width: 1024px) {
    .xl_text-left {
        text-align: left;
    }

    .xl_text-right {
        text-align: right;
    }

    .xl_text-center {
        text-align: center;
    }

    .xl_text-justify {
        text-align: justify;
    }
}
@media screen and (max-width: 1280px) {
    .xxl_text-left {
        text-align: left;
    }

    .xxl_text-right {
        text-align: right;
    }

    .xxl_text-center {
        text-align: center;
    }

    .xxl_text-justify {
        text-align: justify;
    }
}
@media screen and (max-width: 1400px) {
    .x2l_text-left {
        text-align: left;
    }

    .x2l_text-right {
        text-align: right;
    }

    .x2l_text-center {
        text-align: center;
    }

    .x2l_text-justify {
        text-align: justify;
    }
}
